@import '@fontsource/fira-mono';

* {
	box-sizing: border-box;
}

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: black;
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: goldenrod;
	--color-theme-2: white;
	--color-text: rgba(255,255,255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
}

main {
	min-height: 80vh;
	margin: 0 1rem;
}

section {
	display: flex;
	flex-direction: column;
	text-align: center;
	flex: 1;
	padding: 1rem;
	width: 100%;
	max-width: 64rem;
	margin: 0 auto;
	box-sizing: border-box;
}


h1,
h2 {
	font-weight: 400;
	text-align: center;
}

p {
	line-height: 1.5;
}

h1 {
	font-size: 1.3rem;
}

h2 {
	font-size: 1.2rem;
}

a {
	font-size: 1.5rem;
	line-height: 2.2rem;
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	color: var(--color-theme-1);
}

li {
	position: relative;
	line-height: 1.5rem;
	height: 100%;
	width: fit-content;
	list-style: upper-roman;
}

li[aria-current='page']::before {
	--size: 6px;
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: calc(50% - var(--size));
	border: var(--size) solid transparent;
	border-top: var(--size) solid var(--color-theme-1);
}

hr {
	width: 100%;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 1.4rem;
	}
}

.hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}


/* HEADER */

header {
	display: flex;
	justify-content: space-between;
}

.corner {
	width: 3em;
	height: 3em;
}

.corner a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.corner img {
	width: 3rem;
	height: 3rem;
	object-fit: contain;
}

nav {
	display: flex;
	justify-content: center;
}
nav ul {
	position: relative;
	height: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	background: var(--background);
	background-size: contain;
}

nav a {
	display: flex;
	height: 100%;
	align-items: center;
	padding: 0 0.5rem;
	color: var(--color-text);
	font-weight: 700;
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-decoration: none;
	transition: color 0.2s linear;
}

nav li {
	list-style: none;
}

/* FOOTER */

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 12px;
}

footer a {
	font-weight: bold;
}

@media (min-width: 480px) {
	footer {
		padding: 12px 0;
	}
}

iframe {
	float: left;
	padding-right: .5rem;
}