**/target/
**/.env
**/pg/.DS_Store
**/node_modules
**/build
**/.svelte-kit
**/package
**/.vercel
**/.output
**/vite.config.js.timestamp-*
**/vite.config.ts.timestamp-*
**/node_modules/
**/.env*
**/*.bk
**/*.pem# ignore most things, include some others

**/!bin/
**/!lib/
**/!docs/
**/!package.json
**/!package-lock.json
**/!README.md
**/!CONTRIBUTING.md
**/!LICENSE
**/!CHANGELOG.md
**/!example/
**/!scripts/
**/!tap-snapshots/
**/!test/
**/!.travis.yml
**/!.gitignore
**/!.gitattributes
**/!coverage-map.js
**/!index.js
**/.DS_Store
**/node_modules
**/build
**/.svelte-kit
**/package
**/.env
**/.env.*
**/!.env.example
**/vite.config.js.timestamp-*
**/vite.config.ts.timestamp-*


**/.idea/
**/*.iml
**/*.iws
**/*.eml
**/out/
**/.DS_Store
**/.svn
**/log/*.log
**/tmp/**
**/node_modules/
**/package-lock.json
**/.sass-cache
**/css/reveal.min.css
**/js/reveal.min.js
