:root {
    --text_interactive: 3rem;
  }

button {
    min-width: 12rem;
    width: fit-content;
    height: 4rem;
    line-height: 4rem;
    font-size: var(--text_interactive);
    margin: .5rem;
}
.selected {
    opacity: 1;
    border: 3px solid goldenrod;
    box-shadow: 2px 2px 3px goldenrod;
}
.not_selected {
    opacity: .5;
}


option {
    font-size: var(--text_interactive);
}

select {
    height: 4rem;
    width: 12rem;
    font-size: var(--text_interactive);
}